name: unity_video_player_main
description: UnityVideoPlayer implemented using MediaKit
version: 0.0.1
homepage:

publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  media_kit: ^1.1.11                             # Primary package.
  media_kit_video: ^1.2.5                        # For video rendering.
  #media_kit_libs_video: ^1.0.4                   # Native video dependencies.
  unity_video_player_platform_interface:
    path: ../unity_video_player_platform_interface/
  path_provider:
  # media_kit:
  #   git:
  #     url: https://github.com/media-kit/media-kit/
  #     path: media_kit/
  # media_kit_native_event_loop:
  #   git:
  #     url: https://github.com/media-kit/media-kit/
  #     path: media_kit_native_event_loop/
  # media_kit_video:
  #   git:
  #     url: https://github.com/media-kit/media-kit/
  #     path: media_kit_video/
  media_kit_libs_android_video:
    git:
      url: https://github.com/media-kit/media-kit/
      path: libs/android/media_kit_libs_android_video
  media_kit_libs_ios_video:
    git:
      url: https://github.com/media-kit/media-kit/
      path: libs/ios/media_kit_libs_ios_video
  # media_kit_libs_linux:
  #   git:
  #     url: https://github.com/media-kit/media-kit/
  #     path: libs/linux/media_kit_libs_linux
  # media_kit_libs_macos_video:
  #  git:
  #    url: https://github.com/media-kit/media-kit/
  #    path: libs/macos/media_kit_libs_macos_video
  media_kit_libs_windows_video:
    git:
      url: https://github.com/media-kit/media-kit/
      path: libs/windows/media_kit_libs_windows_video

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

dependency_overrides:
  # media_kit:
  #   git:
  #    url: https://github.com/media-kit/media-kit/
  #    path: media_kit/
  #media_kit_native_event_loop:
  #  git:
  #    url: https://github.com/media-kit/media-kit/
  #    path: media_kit_native_event_loop/
  # media_kit_video:
  #   git:
  #     url: https://github.com/media-kit/media-kit/
  #     path: media_kit_video/
#   media_kit_libs_android_video:
#     git:
#       url: https://github.com/media-kit/media-kit/
#       path: libs/android/media_kit_libs_android_video
#   media_kit_libs_ios_video:
#     git:
#       url: https://github.com/media-kit/media-kit/
#       path: libs/ios/media_kit_libs_ios_video
#   media_kit_libs_linux:
#     git:
#       url: https://github.com/media-kit/media-kit/
#       path: libs/linux/media_kit_libs_linux
#   media_kit_libs_macos_video:
#     git:
#       url: https://github.com/media-kit/media-kit/
#       path: libs/macos/media_kit_libs_macos_video
#   media_kit_libs_windows_video:
#     git:
#       url: https://github.com/media-kit/media-kit/
#       path: libs/windows/media_kit_libs_windows_video

flutter:
  plugin:
    implements: unity_video_player
    platforms:
      windows:
        dartPluginClass: UnityVideoPlayerMediaKitInterface
      linux:
        dartPluginClass: UnityVideoPlayerMediaKitInterface
      macos:
        dartPluginClass: UnityVideoPlayerMediaKitInterface
      ios:
        dartPluginClass: UnityVideoPlayerMediaKitInterface
      android:
        dartPluginClass: UnityVideoPlayerMediaKitInterface
      web:
        pluginClass: UnityVideoPlayerMediaKitInterface
        fileName: unity_video_player_main.dart
