<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566924157760-pmsc8k5344sg3umu0ck30rk7o99cof1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566924157760-pmsc8k5344sg3umu0ck30rk7o99cof1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566924157760-9qarhvcpgcd5gtqn40seeouu5qb7prj2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc2QMZrnlb4jt0IOL0wrjseTufXFI64Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>566924157760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluecherrydvr</string>
	<key>PROJECT_ID</key>
	<string>bluecherry-dvr</string>
	<key>STORAGE_BUCKET</key>
	<string>bluecherry-dvr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566924157760:ios:547fdbbd61feb9cd15d0a5</string>
</dict>
</plist>