[Desktop Entry]
Name=Bluecherry
Comment=Bluecherry DVR Client
Exec=bluecherry
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Video;Security;
