name: Flutter Analysis
on:
  push:
    branches:
      - master
  release:
  pull_request:
  workflow_dispatch:

jobs:
  package-analysis:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: recursive
      - name: Install Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          channel: beta

      - run: flutter upgrade
      - run: flutter pub get
      - run: flutter gen-l10n

      - name: Check formatting
        run: dart format --set-exit-if-changed .

      - name: Run analysis
        run: flutter analyze